---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="center">
				<img src="sanctumlogo.gif"/>
			</div>
			<br/>
			<p>
				Hello, and welcome to the Sanctum.
			</p>
			<p>
				This is the official site of <a href="https://github.com/Lukkex">Lukkex</a>; I am also well-known by the name of Kaiju, or <code>K4IJU</code>. Here, you may find
				a collection of my art pieces, coding projects, philosophical works, and more. 
			</p>
			<p>To name a few of my planned & upcoming projects:</p>
			<ul>
				<li>A chatroom side to this website with the name of <code>Caelum Anonymous</code>,<br/> which will be similar to old-school internet forums. <ul><br/><img class="smaller-image" src="caelumanonymous.png"/></ul><br/></li>
				<li><code>[Unnamed] web series</code> detailing my worldview / philosophy <br/>(to describe it in two words: Unconditional Love)<br/><span class="indent"/><ul>"There are no villains in life; merely lost souls, <br/><span class="indent">trying to find their way back to the stillness."<br/><span class="indent"/>- Yours truly</span></ul></li>
				<br/>
				<li>The aforementioned web series will also be used as cutscenes as apart of a <code>co-op story-based action game</code> with just as much symbolism and love put into it (if not even more) than the series itself, as it will essentially be taking the series to a whole 'nother level'.</li> 
			</ul>
		</main>
		<Footer />
	</body>
</html>
